* {
	box-sizing: border-box;
}

body {
	background: #D9D9D9;
    font-family:Arial, Helvetica, sans-serif;
	font-size: 10px;
	margin: 0;
}

/* Barra de navegação */
#main-navbar {
	background: #3E78AD;
	color: #ffffff;
	padding: 15px;
	text-align: center;
	margin-bottom: 10px;
	position: sticky;
	top: 0;
	text-size-adjust:initial;
}

/* Classes de utilidade */
.fixed-buttom {
	padding: 15px;
	background-color: #CE444D;
	color: #ffffff;
	border: none;
	margin-left: 0%;
}

.box {
	width: 80%;
	margin: auto;
}

/* Positions */
.relative {
	position: static;
	border: 3px solid #233f74;
	height: 50px;
	border-radius: 8px;
	margin: auto;
	margin-right: 50px;
	margin-top: 6px;
	width:60%;
}

.relative .absolute {
	position: absolute;
	bottom: 10;
}

.relative .absolute h1 {
    text-align: start;
	margin-left: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 10px;
	padding: 5px;
}

/* Retângulo 1 */

.retangulo1 {
	position: absolute;
	width: 25%;
	height: 700px;
	left: 0px;
	top: 72px;
	background: #AADCE8;

	padding: 30px;
}

.retangulo1 .absolute h1 {
    margin: 10;
}

.botao  {
	position: absolute;
	bottom: 60px;
	right: 50px;
	margin: 0px;
	padding: 0px;
	width: 50%;
	
}
	
.botao a, .botao a:visited {  
	font: 20px/24px arial, helvetica, sans-aerif;	
	padding: 18px;
	text-decoration: none;
	text-align: center;	
	color:#ffffff;
	background: #CE444D url('botao_link.gif') no-repeat 
	center center;	
	width: 180px;  
	height: 60px;	
	display:block;	
}
	
.botao a:hover { 
	background: #CE444D url('botao_hover.gif') no-repeat 
	center center;
	color:#ffffff;
}

.preparando {
	background: rgba(40, 40, 40, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;

}